@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cinzel";
  src: local("Cinzel-VariableFont_wght.ttf"),
    url("./fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto-Regular.ttf"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
